@import "tailwindcss";



@theme {
  --color-c-zinc: #04ADC0;
}




@layer base {
  html {
    font-family: 'Satoshi-Variable', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    /* background-color: #000000; */


  }
}

.bg-hero-gradient {
  background-image: linear-gradient(to right, #000 0%, #000 50%, #2b9fac 100%);
}


.btn-primary {
  @apply inline-flex items-center justify-between rounded-full text-white font-bold overflow-hidden shadow-xl select-none transition duration-150 ease-in-out cursor-pointer h-12 pr-2 pl-6 active:scale-90;

  /* gradient */
  background: linear-gradient(90deg,
      #06a5b7 10%,
      #07d4d1 100%);
}

.btn-outline {
  @apply flex items-center justify-between h-14 border-1 border-c-zinc text-base bg-white active:brightness-98 transition-all ease-in-out shadow-xl pl-4 pr-2 text-gray-700 font-bold rounded-full duration-150 select-none focus:outline-none disabled:border-c-zinc/50 disabled:text-c-zinc/50 disabled:cursor-not-allowed capitalize active:scale-90 cursor-pointer;

}

.smooth-hover-underline {
  @apply relative text-white tracking-wide after:content-[''] after:absolute after:left-1/2 after:top-[calc(100%+8px)] after:w-0 after:h-[2px] after:bg-c-zinc after:transition-all after:duration-500 after:transform after:-translate-x-1/2 hover:after:w-full
}


.nav-underline {
  @apply relative text-white tracking-wide after:content-[''] after:absolute after:left-1/2 after:top-[calc(100%+8px)] after:h-[2px] after:bg-c-zinc after:transition-all after:duration-500 after:transform after:-translate-x-1/2 after:w-full
}





/* Error and Success Messages */
.error-message {
  @apply bg-red-100 text-red-500 p-4 rounded-xl my-4
}

.success-message {
  @apply bg-green-100 text-green-600 p-4 rounded-xl my-4
}



.h1 {
  @apply text-5xl lg:text-6xl text-white font-extrabold
}

.h2 {
  @apply text-4xl lg:text-5xl font-extrabold
}


.blurb-shadow {
  @apply shadow-lg shadow-c-zinc
}


/* Scrollbar */

body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #04ADC0;
  --sb-size: 8px;
  /* Scrollbar width */
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  /* Track color (Gray-300) */
  border-radius: 10px;
  /* Rounded corners */
  padding: 2px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  /* Thumb color (Slate-700) */
  border-radius: 10px;
  /* Rounded corners */
  border: 2px solid transparent;
  /* Padding for thumb visibility */
}

body::-webkit-scrollbar-thumb:hover {
  background: #078997;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    scrollbar-width: thin;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}